<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Where all of the tragic happens. You should really turn back now.">
    <meta name="author" content="">

    <!-- FB -->
  	<meta property="og:title" content="..." />
  	<meta property="og:site_name" content="..."/>
  	<meta property="og:url" content="http://..." />
  	<meta property="og:description" content="..." />
  	<meta property="og:type" content="article" />
  	<meta property="og:image" content="http://..." />
  	<meta property="og:image:type" content="/images/jpeg" />
  	<meta property="og:image:width" content="1200" />
  	<meta property="og:image:height" content="650" />

  	<!-- FB alt translations -->
  	<meta property="og:locale" content="en_US" />

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        Default Page Title
      {% endif %}
    </title>

    <!-- fav and touch -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png?">

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href="/css/libs/font-awesome.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  {% include nav.html %}

  <div class="post">

    <div class="container push">
      <div class="row">

        <div class="col-sm-9">
          {{ content }}
        </div>

        <div class="col-sm-3 sidenav">
          <h4>ERR_CONNECTION_REFUSED</h4>
          <hr class="heading">
          <ul>
            {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>

  </div>

  {% include footer.html %}

  {% include scripts.html %}

</body>
